.section_footer{
    margin-top: 100px;
    padding-top: 37px;
    padding-bottom: 36px;
    //min-height: 300px;
    border-top: 2px solid #ff4e50;

    &_positions{
        .col();
        .size(3);
        .size-xs(9);
        .xs-block({
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            text-align: center;
        });
        display: flex;
        flex-direction: column;
    }

    &_dreamshare{
        font-family: Montserrat;
        font-size: 16px;
        color: #ff4e50;
    }

    &_company{
        //align-items: center;
        display: flex;
        flex-wrap: wrap;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: bold;
        color: #444444;
    }

    &_partners{
        font-family: Montserrat;
        font-size: 14px;
        font-weight: bold;
        color: #444444;
    }

    &_link{
        margin-top: 11px;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 300;
        color: #999999;
    }

    &_logo{
        align-items: flex-end;
        font-family: Montserrat;
        font-size: 10px;
        font-weight: bold;
        color: #cccccc;
    }

    &_design{
        margin-bottom: 7px;
    }
}